
  <!--  	<script src="./controllers/registration_controller.js"></script> -->
  <div ng-controller="registrationController">
    <form  ng-submit="postRegistration()" style="max-width: 500px; margin-left: 10%;">

      <h2>Please Register</h2>
      <table>
        <tr>
          <td colspan="2" class="alert alert-success" role="alert" style="text-align: center;" ng-show="successMsg">{{successMsg}}</td>
        </tr>
        <tr>
          <td><label for="inputUsername" >Username</label></td>
          <td><input type="text" id="inputUsername" placeholder="Username" minlength="4" required autofocus ng-model="inputData.username" ></td>
        </tr>
        <tr>
          <td colspan="2"><div class="error"  ng-show="errorMsgUsername">{{errorMsgUsername}}</div></td>
        </tr>
        <tr>
          <td><label for="inputFirstname" >Firstname</label></td>
          <td><input type="text" id="inputFirstname" placeholder="Firstname" required  ng-model="inputData.firstname" ></td>
        </tr>
        <tr>
          <td><label for="inputLastname" >Lastname</label></td>
          <td><input type="text" id="inputLastname" placeholder="Lastname" required ng-model="inputData.lastname" ></td>
        </tr>
        <tr>
          <td><label for="inputPassword" >Password</label></td>
          <td><input type="password" id="inputPassword" placeholder="Password" required minlength="8" ng-change="checkPassword()" ng-model="inputData.password" ></td>
        </tr>
        <tr>
          <td><label for="inputPasswordConfirm">Confirm Password</label></td>
          <td><input type="password" id="inputPasswordConfirm" placeholder="Confirm Password" required minlength="8" ng-change="checkPassword()" ng-model="inputData.passwordConfirm" ></td>
        </tr>
        <tr>
          <td colspan="2"><div class="error" ng-show="errorMsgConfrim">{{errorMsgConfrim}}</div></td>
        </tr>
        <tr>
          <td><label for="inputEmail">E-Mail</label></td>
          <td><input type="email" id="inputEmail" placeholder="email01@aol.com" required ng-model="inputData.email">
          </td>
        </tr>
        <tr>
          <td colspan="2"><div class="error" ng-show="errorMsgEmail">{{errorMsgEmail}}</div></td>
        </tr>
        <tr>
          <td><label for="inputPhone" class="sr-only">Phone Number</label></td>
          <td><input type="tel" id="inputPhone" placeholder="(xxx)-xxx-xxxx" ng-model="inputData.phone"></td>
        </tr>
        <tr>
          <td>
              <div class="error" ng-show="errorMsg">{{errorMsg}}</div>
          </td>
          <td colspan="2">
            <input type="submit" value="Register">
          </td>
        </tr>
      </table>
    </form>
  </div>
