
    <script src="./controllers/login_controller.js"></script>
    <div class="container" ng-app="loginApp" ng-controller="loginController as loginCtrl">
      <form class="login-form" ng-submit="loginCtrl.postLogin()" style="max-width: 300px; margin: 0 auto;">
        <h2>Please Login</h2>
        <label for="inputUsername" class="sr-only">Username</label>
        <input type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus ng-model="loginCtrl.inputData.username" style="margin-bottom: -1px; border-bottom-right-radius: 0; border-bottom-left-radius: 0;">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required ng-model="loginCtrl.inputData.password" style="border-top-left-radius: 0; border-top-right-radius: 0;">
		<br>
		<div class="alert alert-danger" role="alert" ng-show="errorMsg">{{errorMsg}}</div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
      </form>
    </div>
