<!DOCTYPE html>
<html>
  <head>
    <title>Registration Page</title>
	<script src="js/angular.js"></script>
	<script src="registration_controller.js"></script>
    <link href="css/bootstrap.css" rel="stylesheet">
  </head>
  <body>
    <div class="container" ng-app="registrationApp" ng-controller="registrationController as registrationCtrl">
      <form class="registration-form" ng-submit="registrationCtrl.postRegistration()" style="max-width: 300px; margin: 0 auto;">
        <h2>Please Register</h2>
        <label for="inputUsername" class="sr-only">Username</label>
        <input type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus ng-model="registrationCtrl.inputData.username" style="margin-bottom: -1px; border-bottom-right-radius: 0; border-bottom-left-radius: 0;">
        <span class="text-danger" ng-show="errorMsgUsername">{{errorMsgUsername}}</span>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required  ng-change="registrationCtrl.checkPassword()" ng-model="registrationCtrl.inputData.password" style="border-top-left-radius: 0; border-top-right-radius: 0;">
        <label for="inputPasswordConfirm" class="sr-only">Confirm Password</label>
        <input type="password" id="inputPasswordConfirm" class="form-control" placeholder="Confirm Password" required  ng-change="registrationCtrl.checkPassword()" ng-model="registrationCtrl.inputData.passwordConfirm" style="border-top-left-radius: 0; border-top-right-radius: 0;">
        <span class="text-danger" ng-show="errorMsgConfrim">{{errorMsgConfrim}}</span>
        <label for="inputEmail" class="sr-only">E-Mail</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="email01@aol.com" required ng-model="registrationCtrl.inputData.email" style="border-top-left-radius: 0; border-top-right-radius: 0;">
        <span class="text-danger" ng-show="errorMsgEmail">{{errorMsgEmail}}</span>
        <label for="inputPhone" class="sr-only">Phone Number</label>
        <input type="tel" id="inputPhone" class="form-control" placeholder="(xxx)-xxx-xxxx" ng-model="registrationCtrl.inputData.phone" style="border-top-left-radius: 0; border-top-right-radius: 0;">

		<br>
		<div class="alert alert-danger" role="alert" ng-show="errorMsg">{{errorMsg}}</div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
      </form>
    </div>
  </body>
</html>
