<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Sentry - Always Watching</title>

  <!-- Bootstrap Core CSS -->
  <link href="css/bootstrap.css" rel="stylesheet">
  <!-- Custom CSS -->
  <link href="css/index.css" rel="stylesheet">


    <!-- JS (load angular, ui-router, jQuery, and our custom js file) -->
    <script src="js/jquery-2.2.0.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/angular-ui-router.js"></script>
    <script src="js/ui-bootstrap.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="dashboard_routes.js"></script>
    <script src="controllers/app_controllers.js"></script>


    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTUwndh9ZED3trNlGZqcCEjkAb5-bpoUw"> </script>
    <script src="js/markerswithlabels.js"></script>

    <!--
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTUwndh9ZED3trNlGZqcCEjkAb5-bpoUw&signed_in=true&callback=initMap"></script>
    <script src="js/sentrymap.js"></script>
  -->
  <style>
    .labels {
       color: #00CCAA;
       background-color: #464646;
       font-family: "Lucida Grande", "Arial", sans-serif;
       font-size: 10px;
       font-weight: bold;
       text-align: center;
       padding: 5px;
       white-space: nowrap;
     }
  </style>
</head>

<!-- apply our angular app to our site -->
<body ng-app="routerApp">
<!-- NAVIGATION -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header" role="navigation">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="mygroups">Sentry</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a ui-sref="mygroups">Home</a></li>
                <li><a ui-sref="about">About</a></li>
                <li><a ui-sref="map">Map</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li ng-controller="logoutController"><a ng-click="logout();">Logout</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- MAIN CONTENT -->
<!-- THIS IS WHERE WE WILL INJECT OUR CONTENT ============================== -->
<div class="container">
    <div ui-view ></div>
</div>

<div class="text-center">
</div>




</body>
</html>
